---
import Nav from "./Nav.astro"
import Github from "./svg/Github.astro"
---


<footer class="relative h-20 mt-8 w-full flex items-center">
  <a class="ml-10" href="https://github.com/Agreatdayforfreedom" aria-label="Github profile" target="_blank">
    <Github />
  </a>  
</footer>