---
import Nav from './Nav.astro'
---

<header class="absolute z-20 w-full justify-between items-center border-b border-gray-700 flex h-12 px-5">
    <h1>logo</h1>

    <div class="w-fit">
        <Nav />
    </div>
</header>