---
import Nav from './Nav.astro'
---

<header class="sticky z-20 w-full justify-between items-center flex h-12 px-5">
    <a href="/" class="text-gray-300 font-bold">Matias Bertoni</a>
    <div class="w-fit">
      <Nav />
    </div>
</header>