---
import Github from './svg/Github.astro'
---


<nav>
    <ul class="flex items-center space-x-2 h-full">
        <li>
            <a href="/projects" class="text-slate-300 font-bold ">Projects</a>
        </li>
        <li> 
            <a href="https://github.com/Agreatdayforfreedom" target="_blank">
                <Github />
            </a>   
        </li>
    </ul>
</nav>