---
import ISearch from "./svg/Search.astro"
---

<div class="relative">
  <ISearch class="stroke-gray-400 absolute top-2 left-2" size={18} />
  <input 
    id="search-input"
    class="w-full bg-transparent border p-1 pl-8 rounded border-slate-800
      outline-none focus-visible:outline-1 focus-visible:outline-offset-0 focus-visible:outline-slate-600 
    "
    type="text"
  >
</div>